.linesMask {
  mask-image: linear-gradient(
                  180deg,
                  #000 0%,
                  #000 45%,
                  rgba(#000, 0.2) 60%,
                  rgba(#000, 0.2) 90%,
                  #000 93%,
                  #000 100%
  );
}